*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f7f7f7f7;
}

.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #4f518c;
    padding: 20px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
}

.logo-area img {
    width: 55px;
    height: auto;
}

.logo-area h2{
    font-size: 24px;
    font-weight: 500;
}

.logo-area span {
    font-size: 12px;
    color: #b3b3b3;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-titulo{
    font-size: 12px;
    color: #4f518c;
    margin-top: 15px;
}

.menu-link{
    text-decoration: none;
    color: #222;
    padding: 12px 15px;
    border-radius: 10px;
}

.menu-link:hover {
    background-color: #9578c9;
    color: white;
}

.conteudo {
    flex: 1;
    padding: 40px;
}