body{
    min-height: 100vh;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

main h1 {
    color: indigo;
    font-size: 40px;
}

.login-card{
    background-color: #c09bf8;
    padding: 40px 30px;
    border-radius: 24px;
    width: 100%;
    max-width: 300px;
    height: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.login-card h1 {
    color: indigo;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

label{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

input{
    width: 270px;
    padding: 12px 16px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-sizing: border-box;
    font-size: 15px;
}

.login-card a {
    color: #fff;
    text-decoration: none;
}

.login-card button{
    padding: 10px 100px;
    margin-block: 20px;
    border: none;
    border-radius: 20px;
    background-color: #4f518c;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    transition: ease 0.3s transform;
}

.login-card button:hover {
    transform: scale(1.1);
}

button::hover{
    background-color: #383144;
}